#include <sdkddkver.h>
#include <windows.h>

#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_ICON        ICON        "icon.ico"
IDI_SMALL       ICON        "small.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Popup menu
//

IDD_DIALOG    MENU    DISCARDABLE
BEGIN
    POPUP    ""
    BEGIN
        MENUITEM    "Always high priority",            IDM_PRIORITY,    CHECKED
        MENUITEM    "Disable score submissions",       IDM_SUBMIT
        MENUITEM    SEPARATOR
        MENUITEM    "Exit",                            IDM_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG    DIALOGEX    0, 0, 0, 0
CAPTION        "osu! tools"
FONT    8,     "Dialog"
BEGIN
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDD_DIALOG    ACCELERATORS
BEGIN
    "?",    IDM_ABOUT,    ASCII,    ALT
    0x71,   IDM_ABOUT,    VIRTKEY
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDC_PROJECT        "osu-runtime-tools"
    IDS_APP_TITLE      "osu! tools"
END


/////////////////////////////////////////////////////////////////////////////
